# This notebook will walk through the steps of using the Colorado Information Marketplace (https://data.colorado.gov/) API with python

## The first step will be to aquire the API endpoint and user tokens. For this tutorial I will be using the Aquaculture Permittees in Colorado dataset (https://data.colorado.gov/Agriculture/Aquaculture-Permittees-in-Colorado/e6e8-qmi7)

### Once you have navigated to your database of interest click on the API button
![title](images/CIM_1.png)

### Click on the blue copy button to copy the entire API Endpoint url, you are going to need that later.

### To be granted access tokens you need to click on the API docs button and scroll down until you reach the section about tokens
![title](images/app_token_1.png)

### Click on the "Sign up for an app token!" button, which will take you to a sign in page. If you don't have an account, create one now, otherwise just sign in. 
![title](images/sign_up_1.png)

### Once you sign in, you will be asked to create an application.  Fill out the form then click create.
![title](images/app_token_3.png)

### You should then have both an App Token and a Secret Token
![title](images/app_token_2.png)

## The second step is to retrieve some data using the api and putting it into a pandas dataframe

In [1]:
# import pandas
import pandas as pd

In [2]:
api_url = 'https://data.colorado.gov/resource/px7t-j3xt.json'
App_Token = 'm8x2qjdYgdZO6U2Ib0oHroizE'

# create these variables using the information found in step one
api_url = 'https://data.colorado.gov/xxxxx/xxxxxx.json'
App_Token = 'xxxxxxxxxxxxxxxx'

### Create urls to request data.  The maximum number of returns for each request is 50,000 records per page.  The *limit* parameter chooses how many records to return per page, and the *offset* parameter determines which record the request will start with.

In [3]:
limit = 100 # limits the number of records to 100
offset = 20 # starts collecting records at record 20

# url_1 creates a url that will query the API and return all the fields (columns) of records 20-120
url_1 = api_url + '?' + '$$app_token=' + App_Token + '&$limit=' + str(limit) + '&$offset=' + str(offset)

### Pandas has a method that retrieves api data and creates a dataframe

In [4]:
raw_data = pd.read_json(url_1)
raw_data.head()

,business_name,city,species,state
0,CRYSTAL SPRINGS TROUT FARM,Hotchkiss,"Brook Trout,Brown Trout,Cutbow Trout,Cutthroat...",Colorado
1,Daily Harvest Aquaponics,Colorado Springs,"Tilapia,Koi",Colorado
2,Electra Sporting Club,Durango,"Brook Trout,Brown Trout,Crayfish,Rainbow Trout",Colorado
3,FOUR SEASONS TROUT FARM,Cedaredge,"Black Crappie,Bluegill,Brook Trout,Brown Trout...",Colorado
4,Frontier Trout Ranch,Saguache,"Brook Trout,Brown Trout,Cutbow Trout,Cutthroat...",Colorado

# That's it!  You can now transform the raw data using python and pandas dataframes